from bottle import Bottle, request, response
from logic import {{ functions|join(", ") }}

app = Bottle()

{% for function in functions %}
@app.post("/{{ function }}")
def {{ function }}_handler():
    data = request.json
    result = {{ function }}(**data)
    return {"status": "success", "data": result}
{% endfor %}

if __name__ == "__main__":
    app.run(host="0.0.0.0", port=8000)
