package main

import (
    "app/functions"
    "github.com/gofiber/fiber/v2"
    "bytes"
    "net/http"
)

{% for function in functions %}
func {{ function|capitalize }}Handler(c *fiber.Ctx) error {
    // Convert fasthttp request body to net/http request
    body := c.Body()
    req, err := http.NewRequest("POST", "/", bytes.NewReader(body))
    if err != nil {
        return c.Status(fiber.StatusBadRequest).JSON(fiber.Map{"error": err.Error()})
    }

    nums, err := functions.DecodeRequest(req)
    if err != nil {
        return c.Status(fiber.StatusBadRequest).JSON(fiber.Map{"error": err.Error()})
    }

    return c.JSON(fiber.Map{"result": functions.{{ function }}(nums.Numbers)})
}
{% endfor %}

func main() {
    app := fiber.New()

    {% for function in functions %}
    app.Post("/{{ function|lower }}", {{ function|capitalize }}Handler)
    {% endfor %}

    app.Listen(":8000")
}
