package main

import (
    "net/http"
    "encoding/json"
    "app/functions"
)

type Response struct {
    Result interface{} `json:"result"`
}

{% for function in functions %}
func {{ function|capitalize }}Handler(w http.ResponseWriter, r *http.Request) {
    nums, err := functions.DecodeRequest(r)
    if err != nil {
        http.Error(w, err.Error(), http.StatusBadRequest)
        return
    }
    json.NewEncoder(w).Encode(Response{Result: functions.{{ function }}(nums.Numbers)})
}
{% endfor %}

func main() {
    {% for function in functions %}
    http.HandleFunc("/{{ function|lower }}", {{ function|capitalize }}Handler)
    {% endfor %}

    http.ListenAndServe(":8000", nil)
}
