package main

import (
    "github.com/beego/beego/v2/server/web"
    "app/functions"
)

type AppController struct {
    web.Controller
}

{% for function in functions %}
func (c *AppController) {{ function|capitalize }}() {
    items, err := functions.DecodeRequest(c.Ctx.Request)
    if err != nil {
        c.Data["json"] = map[string]string{"error": err.Error()}
    } else {
        c.Data["json"] = map[string]interface{}{ "result": functions.{{ function }}(items.Items)}
    }
    c.ServeJSON()
}
{% endfor %}

func main() {
    web.BConfig.Listen.HTTPPort = 8000

    {% for function in functions %}
    web.Router("/{{ function|lower }}", &AppController{}, "post:{{ function|capitalize }}")
    {% endfor %}
    web.Run()
}
