package main

import (
    "encoding/json"
    "net/http"
    "app/functions"
    "github.com/go-chi/chi/v5"
)

{% for function in functions %}
func {{ function|capitalize }}Handler(w http.ResponseWriter, r *http.Request) {
    items, err := functions.DecodeRequest(r)
    w.Header().Set("Content-Type", "application/json")

    if err != nil {
        w.WriteHeader(http.StatusBadRequest)
        json.NewEncoder(w).Encode(map[string]string{"error": err.Error()})
        return
    }

    json.NewEncoder(w).Encode(map[string]interface{}{"result": functions.{{ function }}(items.Items)})
}
{% endfor %}

func main() {
    r := chi.NewRouter()

    {% for function in functions %}
    r.Post("/{{ function|lower }}", {{ function|capitalize }}Handler)
    {% endfor %}

    http.ListenAndServe(":8000", r)
}
