package main

import (
    "net/http"
    "github.com/labstack/echo/v4"
    "app/functions"
)

func main() {
    e := echo.New()

    {% for function in functions %}
    e.POST("/{{ function|lower }}", func(c echo.Context) error {
        items, err := functions.DecodeRequest(c.Request())
        if err != nil {
            return c.JSON(http.StatusBadRequest, map[string]string{"error": err.Error()})
        }
        return c.JSON(http.StatusOK, map[string]interface{}{ "result": functions.{{ function }}(items.Items) })
    })
    {% endfor %}

    e.Start(":8000")
}
