package main

import (
    "net/http"
    "github.com/gin-gonic/gin"
    "app/functions"
)

func main() {
    r := gin.Default()

    {% for function in functions %}
    r.POST("/{{ function|lower }}", func(c *gin.Context) {
        items, err := functions.DecodeRequest(c.Request)
        if err != nil {
            c.JSON(http.StatusBadRequest, gin.H{"error": err.Error()})
            return
        }
        c.JSON(http.StatusOK, gin.H{"result": functions.{{ function }}(items.Items)})
    })
    {% endfor %}

    r.Run(":8000")
}
