from flask import Flask, request, jsonify
from logic import {{ functions|join(", ") }}

app = Flask(__name__)

{% for function in functions %}
@app.route("/{{ function }}", methods=["POST"])
def {{ function }}_handler():
    data = request.get_json()
    result = {{ function }}(**data)
    return jsonify({"status": "success", "data": result})
{% endfor %}

if __name__ == "__main__":
    app.run(host="0.0.0.0", port=8000)
